In [1]:
import pandas as pd
import numpy as np

Date data

In [2]:
# Dict that take 'date' as a key and define values as a list that contain date. 
df = pd.DataFrame({'date': ['2013-06-11','2014-05-08','2013-10-26','2015-08-20','2014-07-22']})
display(df)
print(df.dtypes)

         date
0  2013-06-11
1  2014-05-08
2  2013-10-26
3  2015-08-20
4  2014-07-22

date    object
dtype: object

In [3]:
df['date'] = pd.to_datetime(df['date'])
print(df.dtypes)

date    datetime64[ns]
dtype: object

In [6]:
# things you can do with this
df['dt_year'] = df['date'].dt.year
df['dt_month'] = df['date'].dt.month
df['dt_day'] = df['date'].dt.day
df['dt_quarter'] = df['date'].dt.quarter
df['dt_week'] = df['date'].dt.isocalendar().week 
df['dt_dayofweek'] = df['date'].dt.day_name()

In [7]:
df['date'][0] - df['date'][1]

Timedelta('-331 days +00:00:00')

Date + time data

In [8]:
date = pd.Series(pd.date_range('2015-1-5 11:20:00', periods=7, freq='H'))

dt = pd.DataFrame(dict(date=date))
print(dt)

                 date
0 2015-01-05 11:20:00
1 2015-01-05 12:20:00
2 2015-01-05 13:20:00
3 2015-01-05 14:20:00
4 2015-01-05 15:20:00
5 2015-01-05 16:20:00
6 2015-01-05 17:20:00

In [ ]:
dt['time'] = dt['date'].dt.time
dt['hour'] = dt['date'].dt.hour
dt['min'] = dt['date'].dt.minute
dt['sec'] = dt['date'].dt.second

In [ ]:
date1 = pd.Series(pd.date_range('2012-1-1 00:00:00', periods=7, freq='S'))
date2 = pd.Series(pd.date_range('2012-1-1 00:00:00', periods=7, freq='H'))
 
time = pd.DataFrame(dict(Start_date = date1, End_date = date2))

time

           Start_date            End_date
0 2012-01-01 00:00:00 2012-01-01 00:00:00
1 2012-01-01 00:00:01 2012-01-01 01:00:00
2 2012-01-01 00:00:02 2012-01-01 02:00:00
3 2012-01-01 00:00:03 2012-01-01 03:00:00
4 2012-01-01 00:00:04 2012-01-01 04:00:00
5 2012-01-01 00:00:05 2012-01-01 05:00:00
6 2012-01-01 00:00:06 2012-01-01 06:00:00

In [ ]:
time['diff'] = time['End_date'] - time['Start_date']
time['diff_seconds']=time['diff']/np.timedelta64(1,'s')
time['diff_mins']=time['diff_seconds']/60
time['diff_hours']=time['diff_seconds']/3600

display(time)

           Start_date            End_date  ...   diff_mins diff_hours
0 2012-01-01 00:00:00 2012-01-01 00:00:00  ...    0.000000   0.000000
1 2012-01-01 00:00:01 2012-01-01 01:00:00  ...   59.983333   0.999722
2 2012-01-01 00:00:02 2012-01-01 02:00:00  ...  119.966667   1.999444
3 2012-01-01 00:00:03 2012-01-01 03:00:00  ...  179.950000   2.999167
4 2012-01-01 00:00:04 2012-01-01 04:00:00  ...  239.933333   3.998889
5 2012-01-01 00:00:05 2012-01-01 05:00:00  ...  299.916667   4.998611
6 2012-01-01 00:00:06 2012-01-01 06:00:00  ...  359.900000   5.998333

[7 rows x 6 columns]